*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #f45; */
  /* color: aliceblue; */
}
/* .circle{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
} */